* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  background-color: hsl(0, 0%, 8%);
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  height: 600px;
  background-color: hsl(0, 0%, 12%);
  padding: 20px;
  border-radius: 20px;
}

.upper-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0.4;
  color: hsl(0, 0%, 100%);
  gap: 20px;
}

.lower-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 0.6;
}

.button-link {
  height: 50px;
  outline: none;
  background-color: hsl(0, 0%, 20%);
  width: 85%;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.button-link:hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  cursor: pointer;
}

.button-link:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}

.avatar-container {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.avatar-container > img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.user-info > h1 {
  font-weight: 700;
}

.user-info > p {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
}

.bio {
  font-size: 13px;
  font-weight: 400;
}
